body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenu {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}
.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}
